@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
html,body{
    
    
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
    .k{
        
 height:  100%;
 width:   100%;
 background-size:        cover;
 background-attachment:  fixed;
 padding: 0;
 margin:  0;
 }

.second
{
font-family: Raleway;
font-weight: 300;
color:white;
position: absolute;    
top:450px;
display: none;
}
#vid
{
  
  left:200px;
  

}
.symb:hover{
    opacity: 1;
}
.symb{width:8%;
    cursor: pointer;
    position:absolute;
    top:350px;
    display: none;
    opacity: 0.5;
}
#prod{
    
  left:200px;
}
#music{
    
  left:500px;
  
}

#musictext{
    
  left:527px;
    color:red;
}
#phototext{
    
  left:895px;
}
#gdtext{
    
  left:1180px;
}

#photo{
   
  left:900px;
}
.quote1{
    font-family: Raleway;
    font-weight: 300;
    color: white;
    font-size: 25px;
    display: none;
    position: relative;
    top: 5%;
    left: 7%;
    transform: translateX(-50%) translateY(-50%);
    
}
#gd{
    
  left:1200px;
}
#what{
    position:absolute;
    display: none;
    font-size: 35px;
    top: 100px;
    left: 50%;
    opacity: 0.8;
    transform: translateX(-50%) translateY(-50%);
}
.mw:hover{
    opacity:1;
}
.mw{
    position:relative;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.5;
    width: 480px;
    
    
    
    
     

}
#mw2{
    
    width: 400px;
}
#mw3{
    
    width: 200px;
}
h1{
    font-size: 40px;
    color:#ffffff;
    margin: 0;
    font-family: "raleway";
    font-weight: 300;
    text-align: center;
}
#ba{
    padding: 100px;
}

.a{
    background-image: url(Images/1.jpg)
    
}

.b{
    background-image: url(Images/2.jpg)
}

.c{
    background-image: url(Images/3.jpg)
}

.d{
    background-image: url(Images/4.jpg)
}
.e{
    background-image: url(Images/5.jpg)
}
