html,body{
    
    
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
    .k{
        
 height:  100%;
 width:   100%;
 background-size:        cover;
 background-attachment:  fixed;
 padding: 0;
 margin:  0;
 
     
        
        
    
    }

#mw:hover{
    opacity:1;
}
#mw{
    position:absolute;
    cursor: pointer;
    
    text-align: center;
    width:570px;
    margin-left: 480px;
    top:300px;
    opacity: 0.5;
    
    
    
    
     

}
h1{
    font-size: 50px;
    color:#ffffff;
    margin: 0;
    font-family: "raleway";
    font-weight: 300;
    text-align: center;
    line-height: 200px;
    

}
#ba{
    padding: 100px;
}

.a{
    background-image: url(Images/1.jpg)
    
}

.b{
    background-image: url(Images/2.jpg)
}

.c{
    background-image: url(Images/3.jpg)
}

.d{
    background-image: url(Images/4.jpg)
}
