@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Signika');
#game
{
    text-align: center;
    font-family:raleway;
    font-weight: 100;
    font-size: 40px;
    opacity: 0;
    color: gray;
    padding: 30px;
    
}
#count
{   opacity: 0;
    text-align: center;
    color: gray;
    font-family: 'Josefin Slab', serif;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-size: 100px;
}
#back_bar
{
    width:60%;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    opacity: 0;
}
#front_bar
{
    width:1%;
    height:30px;
    background-color: lightcoral;
}
#explain
{
    text-align: center;
    font-family:raleway;
    font-weight: 100;
    font-size: 25px;
    opacity: 0;
    color: gray;
    padding-top: 10px;
    margin: auto;
    width:680px;
    
}
#start
{
display: block;
border: 1px;
background-color: white;
box-shadow:none;
border-radius: 0px;
padding: 15px;
margin-top: 50px;
border-color: coral;
font-family: raleway;
font-weight: 400;
margin-left: auto;
margin-right: auto;
opacity: 0;
border-style: solid;
border-color: lightcoral;
    outline: none;
 
}

#start:hover{
    background-color: darkgray;
    cursor: pointer;
    background-color: lightcoral;
    color:white;
}
