@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Signika');
body
{
    background-color: black;
}
#letter_page
{
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
#letters
{
    opacity: 1;
    width: 100%;
    position: absolute;
}
.bulb
{
    position: absolute;
    width: 4%;

}
#bulb_a
{
    top:25%;
    left: 6.5%;
}
#bulb_b
{
    top:25%;
    left: 14%;
}
#bulb_c
{
    top:25%;
    left: 21%;
}
#bulb_d
{
    top:25%;
    left: 28%;
}
#bulb_e
{
    top:25%;
    left: 35.5%;
}
#bulb_f
{
    top:25%;
    left: 42.2%;
}
#bulb_g
{
    top:25%;
    left: 49.5%;
}
#bulb_h
{
    top:25%;
    left: 57%;
}
#bulb_i
{
    top:25%;
    left: 64%;
}
#bulb_j
{
    top:25%;
    left: 69.5%;
}
#bulb_k
{
    top:25%;
    left: 75.5%;
}
#bulb_l
{
    top:25%;
    left: 81.8%;
}
#bulb_m
{
    top:25%;
    left: 89.7%;
}
#bulb_m
{
    top:25%;
    left: 89.7%;
}
#bulb_n
{
    top:44%;
    left: 4%;
}

#bulb_o
{
    top:44%;
    left: 11.5%;
}
#bulb_p
{
    top:44%;
    left: 19%;
}
#bulb_q
{
    top:44%;
    left: 26.4%;
}
#bulb_r
{
    top:44%;
    left: 33.8%;
}

#bulb_s
{
    top:44%;
    left: 41.2%;
}
#bulb_t
{
    top:44%;
    left: 48.1%;
}
#bulb_u
{
    top:44%;
    left: 55.1%;
}
#bulb_v
{
    top:44%;
    left: 62.3%;
}
#bulb_w
{
    top:44%;
    left: 71%;
}
#bulb_x
{
    top:44%;
    left: 79.3%;
}
#bulb_y
{
    top:44%;
    left: 86.5%;
}
#bulb_z
{
    top:44%;
    left: 93.5%;
}
#bulb_a1
{
    top:25%;
    opacity:0;
    left: 6.5%;
}
#bulb_b1
{
    top:25%;
    opacity:0;
    left: 14%;
}
#bulb_c1
{
    top:25%;
    opacity:0;
    left: 21%;
}
#bulb_d1
{
    top:25%;
    opacity:0;
    left: 28%;
}
#bulb_e1
{
    top:25%;
    opacity:0;
    left: 35.5%;
}
#bulb_f1
{
    top:25%;
    opacity:0;
    left: 42.2%;
}
#bulb_g1
{
    top:25%;
    opacity:0;
    left: 49.5%;
}
#bulb_h1
{
    top:25%;
    opacity:0;
    left: 57%;
}
#bulb_i1
{
    top:25%;
    opacity:0;
    left: 64%;
}
#bulb_j1
{
    top:25%;
    opacity:0;
    left: 69.5%;
}
#bulb_k1
{
    top:25%;
    opacity:0;
    left: 75.5%;
}
#bulb_l1
{
    top:25%;
    opacity:0;
    left: 81.8%;
}
#bulb_m1
{
    top:25%;
    opacity:0;
    left: 89.7%;
}

#bulb_n1
{
    top:44%;
    opacity:0;
    left: 4%;
}

#bulb_o1
{
    top:44%;
    opacity:0;
    left: 11.5%;
}
#bulb_p1
{
    top:44%;
    opacity:0;
    left: 19%;
}
#bulb_q1
{
    top:44%;
    opacity:0;
    left: 26.4%;
}
#bulb_r1
{
    top:44%;
    opacity:0;
    left: 33.8%;
}

#bulb_s1
{
    top:44%;
    opacity:0;
    left: 41.2%;
}
#bulb_t1
{
    top:44%;
    opacity:0;
    left: 48.1%;
}
#bulb_u1
{
    top:44%;
    opacity:0;
    left: 55.1%;
}
#bulb_v1
{
    top:44%;
    opacity:0;
    left: 62.3%;
}
#bulb_w1
{
    top:44%;
    opacity:0;
    left: 71%;
}
#bulb_x1
{
    top:44%;
    opacity:0;
    left: 79.3%;
}
#bulb_y1
{
    top:44%;
    opacity:0;
    left: 86.5%;
}
#bulb_z1
{
    top:44%;
    opacity:0;
    left: 93.5%;
}
#hint
{
    text-align: center;
    font-family:raleway;
    font-weight: 100;
    font-size: 20px;
    opacity: 1;
    color: white;
    position: absolute;
    top:70%;
    left:50%;
    transform: translateX(-50%);
}
#game
{
    text-align: center;
    font-family: raleway;
    font-weight: 100;
    font-size: 40px;
    opacity: 1;
    color: gray;
    padding: 30px;    
}
#opening_page
{
    opacity: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
#explain
{
    text-align: center;
    font-family:raleway;
    font-weight: 100;
    font-size: 30px;
    opacity: 1;
    color: gray;
    padding-top: 10px;
    margin: auto;
    width:70%;
    
}
#start
{
display: block;
border: 1px;
background-color: white;
box-shadow:none;
border-radius: 0px;
padding: 15px;
margin-top: 50px;
border-color: coral;
font-family: raleway;
font-weight: 400;
margin-left: auto;
margin-right: auto;
opacity: 1;
border-style: solid;
border-color: lightcoral;
    outline: none;
 
}

#start:hover{
    background-color: darkgray;
    cursor: pointer;
    background-color: lightcoral;
    color:white;
}
