@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Signika');

#main_text
{
	text-align: center;
    font-family: Raleway;
    font-weight: 100;
    font-size: 40px;
    opacity: 1;
    color: gray;
    padding: 30px;

}
#add_button
{
	display: block;
	position: absolute;
	border: 1px;
	background-color: white;
	box-shadow:none;
	border-radius: 0px;
	padding: 15px;
	margin-top: 100px;
	border-color: coral;
	font-family: Raleway;
	font-weight: 100;
	left:50%;
	transform: translateX(-50%);
	border-style: solid;
	border-color: limegreen;
    outline: none;
	position: absolute;
}
#add_button:hover{
    cursor: pointer;
    background-color: limegreen;
    color:white;
}
.tasks
{
	font-family: 'Josefin Slab', serif;
	text-align: center;
    font-weight: 100;
    font-size: 30px;
    color: limegreen;
    padding: 10px;
    opacity: 0.5;
    
}
.tasks:hover
{	
	cursor: pointer;
    opacity: 1;
}
#frm1
{
	text-align: center;
    font-family:raleway;
    font-weight: 100;
    font-size: 20px;
    opacity: 1;
    color: gray;
    padding-top: 10px;
    margin: auto;
    width:70%;
    margin-top: 150px;
    transform: translateX(-2%);
}