@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

    #timer{
      color:red;
      font-size: 50px;
      padding-left: 40px;
    }
    #yes{
      color:red;
      font-size: 50px;
      padding-left: 40px;
    }