@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Signika');

.choice
{
	width:10%;
	position: absolute;
	opacity: 0.7;


}
#choices
{
display: none;
}
.choice1
{
	width:10%;
	font-family: 'Josefin Slab', serif;
	position: absolute;
}
.choice2
{
	width:10%;
	font-family: 'Josefin Slab', serif;
	position: absolute;
}
#show_my_choice
{
	display: none;
	opacity: 0;
	

}
.choice:hover
{
	opacity: 1;
	cursor: pointer;
}
#choices
{
	opacity: 0;
}
#rock
{
	left: 45%;
	top:10%;

}
#paper
{
	left: 30%;
	top:35%;
}
#sci
{
	left: 60%;
	top:  35%;
}
#liz
{
	left: 35%;
	top:  70%;
}
#spock
{
	left: 55%;
	top:  70%;
}
#rock1
{
	left: 15%;
	top:35%;
	opacity: 1;
}
#user
{
	left: 18%;
	top:25%;
	opacity: 1;
}
#vs
{
	left: 48.5%;
	top:35%;
	opacity: 1;
	font-size: 40px;
}
#paper1
{
	left: 15%;
	top:35%;
	opacity: 0;
}

#sci1
{
	left: 15%;
	top:35%;
	opacity: 0;
}
#liz1
{	
	left: 15%;
	top:35%;
	opacity: 0;
}
#spock1
{
	left: 15%;
	top:35%;
	opacity: 0;
}

#rock2
{
	left: 75%;
	top:35%;
	opacity: 1;
}
#galactus
{
	left: 76%;
	top:25%;
	opacity: 1;
}
#paper2
{
	left: 75%;
	top:35%;
	opacity: 0;
}

#sci2
{
	left: 75%;
	top:35%;
	opacity: 0;
}
#liz2
{	
	left: 75%;
	top:35%;
	opacity: 0;
}
#spock2
{
	left: 75%;
	top:35%;
	opacity: 0;
}
#end
{
display: none;
opacity: 0;
}
#end0
{
	
	font-family: 'Josefin Slab', serif;
	position: absolute;
	top: 50%;
	left: 51%;
	transform: translateX(-50%);
	
}
#end1
{
	
	font-family: 'Josefin Slab', serif;
	position: absolute;
	top: 65%;
	left: 40%;

}
#end2
{

	font-family: 'Josefin Slab', serif;
	position: absolute;
	top: 65%;
	left: 53%;
	text-align: center;
}
#play_again
{
	display: block;
	border: 1px;
	background-color: white;
	box-shadow:none;
	border-radius: 0px;
	padding: 15px;
	margin-top: 50px;
	border-color: coral;
	font-family: Raleway;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: steelblue;
    outline: none;
}
#play_again:hover{
    cursor: pointer;
    background-color: steelblue;
    color:white;
}
#start_game
{
	display: block;
	position: absolute;
	border: 1px;
	background-color: white;
	box-shadow:none;
	border-radius: 0px;
	padding: 15px;
	margin-top: 100px;
	border-color: coral;
	font-family: Raleway;
	font-weight: 100;
	left:50%;
	transform: translateX(-50%);
	border-style: solid;
	border-color: steelblue;
    outline: none;
	position: absolute;
}
#start_game:hover{
    cursor: pointer;
    background-color: steelblue;
    color:white;
}

#story_div
{
	text-align: center;
    font-family: Raleway;
    font-weight: 100;
    font-size: 40px;
    opacity: 1;
    color: gray;
    padding: 30px;
	
}
